body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
}

#content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}